<div class="container about">
       <div><h1 class="text-center ">about us</h1></div>
    <div class="row">
        <div class="col-6">
            <h2>we're packed full of free apps...</h2>
            <h1>all the apps you need in one place</h1>
            <p>We're eCommerce nerds, constantly on the look out for innovating and exciting new features to expand our already rich marketplace of apps. You can trust us to keep up with the latest trends and advances in eCommerce technology.</p>
        </div>
        <div class="col-6">
           
            <div class="row g-1">
                
                <div class="col-4">
                    <i class="fa-brands fa-fedex"></i>
                </div>
                <div class="col-4">
                    <i class="fa-brands fa-facebook-f"></i>          
                      </div>
                <div class="col-4">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>

            <div class="row row-m g-1">
                <div class="col-4">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="col-4">
                    <i class="fa-brands fa-pinterest"></i>
                </div>
                <div class="col-4">
                    <i class="fa-brands fa-twitter"></i>              
                </div>
            </div>
        </div>
    </div>
</div>


