.home
{
    height: 100vh;
    /* background-image: url("/assets/image/bg.jpg"); */
    background-image: url("/assets/image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
small
{
    align-items: center;
    align-self: center;
}

